<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd HH:mm:ss,SSS\} %-5p] [%t] %c - %m%n" />
		</layout>
	</appender>

	<appender name="myFile" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="debug" />
		<param name="File" value="applog/log.txt" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<param name="MaxFileSize" value="5MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p (%c:%L)- %m%n" />
		</layout>
	</appender>

	<logger name="org.thymeleaf" additivity="false">
		<level value="info" />
		<appender-ref ref="myFile" />
	</logger>

	<logger name="org.springframework.core.env.PropertySourcesPropertyResolver"
		additivity="false">
		<level value="info" />
		<appender-ref ref="myFile" />
	</logger>

	<logger name="org.springframework.core.env.MutablePropertySources"
		additivity="false">
		<level value="info" />
		<appender-ref ref="myFile" />
	</logger>

	<logger name="org.apache.http" additivity="false">
		<level value="info" />
		<appender-ref ref="myFile" />
	</logger>

	<root>
		<priority value="debug" />
		<appender-ref ref="myConsole" />
		<appender-ref ref="myFile" />
	</root>
</log4j:configuration>