div.title {
	background-color: #a4c2f4;
	margin-bottom: 10px;
}

.refresh {
	position: absolute;
	left: 200px;
}

.collapse {
	position: absolute;
	left: 262px;
}

td {
	width: 20%
}

table {
	width: 100%;
	table-layout: fixed
}