<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>AEP Run Information</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script th:src="@{/js/aeprun.js}"></script>
<!-- <script th:src="@{/js/json2.js}"></script> -->
<link rel="stylesheet" href="/css/aep.css" th:href="@{/css/aep.css}" />
</head>
<body>
	<label id="user" th:text="${user}" hidden="true"></label>
	<label id="module" th:text="${module}" hidden="true"></label>
	<label id="env" th:text="${env}" hidden="true"></label>
	<div th:each="status:${allStatus}" th:id="${status.toStatusString()}">
		<div class="title">
			<label class="status" th:text="${status.toStatusString()+' Status Job '}"></label> 
			<input class="refresh" type="button" onclick="fetchRunningJobs(this)" value="Refresh" />
			<input class="collapse" type="button" onclick="changeContent(this)" value="Hide"/>
		</div>
		<div class="content"></div>
		<br/>
	</div>
	<div id="loading" hidden="true">
		<label>Loading ... </label> <img src="/images/loading.gif" />
	</div>

</body>
</html>