<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Show Package</title>
<Style>
tr.package {
	color: #FF0000
}

table {
	text-align: center
}

th {
	padding: 0px 10px 0px 10px
}

td#name {
	padding: 0px 10px 0px 0px;
	text-align: left;
}

thead th {
	background-color: #a4c2f4;
	background-image: url(/images/sort.gif);
	background-repeat: no-repeat;
	background-position: right;
}
</Style>

<script th:src="@{/js/coverage.js}"></script>
<script th:inline="javascript">

	var urlPrefix=[[${urlPrefix}]];
}
</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<input id='filterValue' placeholder="Filter the Name"></input>
	<input type="button" onclick="filter()" value="Submit"></input>
	<input type="button" onclick="reset()" value="Reset"></input>
	<br></br>
	<input type="button" onclick="showPackage()" value="showPackage" />
	<div id="newTable"></div>

	<div>
		<p />
	</div>
	<table border="1">
		<thead id='thead'>
			<tr>
				<th th:text="'Name in Feature:'+${list[1].feature}">Name</th>
				<th onclick="sortTable(this)">NewTotalCoverage</th>
				<th onclick="sortTable(this)">OldTotalCoverage</th>
				<th onclick="sortTable(this)">CoverageDiff</th>
				<th onclick="sortTable(this)">NewTotalLine</th>
				<th onclick="sortTable(this)">OldTotalLine</th>
				<th onclick="sortTable(this)">TotalLineDiff</th>
				<th onclick="sortTable(this)">NewTotalLinesExecuted</th>
				<th onclick="sortTable(this)">OldTotalLInesExecuted</th>
				<th onclick="sortTable(this)">ToBecovered</th>
			</tr>
		</thead>
		<tbody th:id="myTable">
			<tr th:each="elem:${list}"
				th:class="${elemStat.current.packag}?'package':'class'"
				th:attr="row=${elemStat.count}">
				<td th:id="name" onclick="selectRow(this)" th:text="${elem.name}"
					th:title="${elem.className?:elem.packageName}"></td>
				<td th:id="newcov" th:text="${elem.newTotalCoverage}"></td>
				<td th:id="oldcov" th:text="${elem.oldTotalCoverage}"></td>
				<td th:id="covdiff" th:text="${elem.coverageDiffer}"></td>
				<td th:id="newlinecov" th:text="${elem.newTotalLines}"></td>
				<td th:id="oldlinecov" th:text="${elem.oldTotalLines}"></td>
				<td th:id="linediff" th:text="${elem.totallinesdiffer}"></td>
				<td th:id="newexec" th:text="${elem.newTotalLinesExecuted}"></td>
				<td th:id="oldexec" th:text="${elem.oldTotalLinesExecuted}"></td>
				<td th:id="toexec" th:text="${elem.toBeCovered}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
