<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SVN Info</title>
<link rel="stylesheet" href="/css/svn.css" th:href="@{/css/svninfo.css}" />
<script th:src="@{/js/svninfo.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
</body>

<h3
	th:text="'Check In History for '+${author}+' between '+${start}+' to '+${end}">Check
	SVN checkIn History</h3>
<input id="filter" type="text" onkeydown="filterEvent(event)"
	placeholder="Filter File Name" />
<input type="button" onclick="filter()" value="Submit" />
<input id="filterPackage" type="text"
	onkeydown="filterPackageEvent(event)" placeholder="Filter Package Name" />
<input type="button" onclick="filterPackage()" value="Submit" />
<input type="button" onclick="reset()" value="Reset" />
<p class="bg" th:text="'List Total '+${size}+' File(s) below: '">List:</p>

<table th:each="svnFile:${svnList}" border="1">
	<tr th:attr="isEven=(${svnFileStat.count} % 2 == 0)">
		<td colspan='4' class='long' th:text="'File: '+${svnFile.className}"></td>
	</tr>
	<tr>
		<td class='author' th:text="'Author: '+${svnFile.svnInfo.author}"></td>
		<td class='date'
			th:text="'CreateDate: '+${svnFile.svnInfo.createDate}"></td>
		<td class='revision'
			th:text="'Revision: '+${svnFile.svnInfo.revision}"></td>
		<td class='type' th:text="'CheckInType: '+${svnFile.svnInfo.type}"></td>
	</tr>
</table>
</html>